<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 	  xmlns:th="http://www.thymeleaf.org"
 	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	  layout:decorator="LayoutPadrao">
<head>
	
	<title>Cadastro de Competição</title>
	
</head>
<body>
	
<section layout:fragment="conteudo">	
		
	<form class="form-horizontal" method="POST" action="/resultadocompeticoes" th:object="${resultadocompeticao}">
		
		<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
	  		<span th:text="${mensagem}">Edição Salva com sucesso!</span>
		</div>
		<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
			<div th:each="detailedError : ${#fields.detailedErrors()}">
				<span th:text="${detailedError.message}"></span>
			</div>
		</div> 
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title gg-titulo-panel">Cadastro de Competições</h1>
					<a class="btn btn-link gg-link-panel" href="/competicoes">Voltar Para Pesquisa</a>
				</div>
			</div>
			<div class="panel-body">
				<input type="hidden" th:field="*{id}"/>
				
				<div class="Form-group" col-sm-4 bw-required">
					<label class="control-label" for="nomeCompeticao">Competição</label>
					<div class="input-group">
						<input id="nomeCompeticao" type="text" readonly="readonly" class="form-control" placeholder="Clique para escolher a competição">
						<span class="input-group-btn">
							<button class="btn btn-default js-tooltip" type="button" tittle="Pesquisa Avançada" 
								data-toggle="modal"><i class="glyphicon-search"></i></button>
						</span>
					</div>
				</div>
				
				<div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? 'has-error'">
					<label for="nome" class="col-sm-4 control-label">Edição da Competição</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="nome" th:field="*{edicao}"/>
					</div>
				</div>
				
				<div class="form-group" th:classappend="${#fields.hasErrors('ponto_primeiro')} ? 'has-error'">
					<label for="ponto_primeiro" class="col-sm-4 control-label">Primeiro Colocado</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="ponto_primeiro" th:field="*{ponto_primeiro}"/>
					</div>
				</div>
				
				<div class="form-group" th:classappend="${#fields.hasErrors('ponto_segundo')} ? 'has-error'">
					<label for="ponto_segundo" class="col-sm-4 control-label">Segundo Colocado</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="ponto_segundo" th:field="*{ponto_segundo}"/>
					</div>
				</div>
				
				<div class="form-group" th:classappend="${#fields.hasErrors('ponto_terceiro')} ? 'has-error'">
					<label for="ponto_terceiro" class="col-sm-4 control-label">Terceiro Colocado</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="ponto_terceiro" th:field="*{ponto_terceiro}"/>
					</div>
				</div>
				
				<div class="form-group" th:classappend="${#fields.hasErrors('ponto_quarto')} ? 'has-error'">
					<label for="ponto_quarto" class="col-sm-4 control-label">Quarto Colocado</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="ponto_quarto" th:field="*{ponto_quarto}"/>
					</div>
				</div>
				
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
		</div>
		
	</form>
		
</section>
</body>
</html>