<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 	  xmlns:th="http://www.thymeleaf.org"
 	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	  layout:decorator="LayoutPadrao">
 	  
<head>
	<title>Pesquisa de Competições</title>
</head>
<body>
	
	<section layout:fragment="conteudo">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title gg-titulo-panel">Pesquisa de Competições</h1>
					<a class="btn btn-link gg-link-panel" href="/competicoes/novo">Nova Competicao</a>
				</div>
			</div>
			
			<div class="panel-body">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center col-md-1">#</th>
							<th class="text-center col-md-2">Competição</th>
							<th class="text-center col-md-2">Pontuação Primeiro</th>
							<th class="text-center col-md-2">Pontuação Segundo</th>
							<th class="text-center col-md-2">Pontuação Terceiro</th>
							<th class="text-center col-md-2">Pontuação Quarto</th>
							<th class="col-md-2">Gerenciar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="competicao : ${competicoes}">
							<td th:text="${competicao.id}"></td>
							<td th:text="${competicao.nome}"></td>
							<td th:text="${competicao.ponto_primeiro}"></td>
							<td th:text="${competicao.ponto_segundo}"></td>
							<td th:text="${competicao.ponto_terceiro}"></td>
							<td th:text="${competicao.ponto_quarto}"></td>
							<td class="text-center">
								<a class="btn btn-link btn-xs" th:href="@{/competicoes/{codigo}(codigo=${competicao.id})}">
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
								<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExlusaoModalCompeticao"
										th:attr="data-codigo=${competicao.id}">
									<span class="glyphicon glyphicon-remove"></span>
								</a>
							</td>
						</tr>
						<tr>
							<td colspan="10" th:if="${#lists.isEmpty(competicoes)}"> Nenhuma competição foi encontrado </td>
						</tr>
					</tbody>
			</div>
		</div>
		
		<div class="modal fade" id="confirmacaoExlusaoModalCompeticao" tabindex="-1">
			<div class="modal-dialog">
				<form th:attr="data-url-base='/competicoes'" method="POST">
					<input type="hidden" name="_method" value="DELETE"/>						
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Você tem certeza?</h4>
						</div>
						
						<div class="modal-body">
							<span> Tem certeza que deseja apagar o time?</span>
						</div>
						
						<div class="modal-footer">
							<button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
							<button type="submit" class="btn btn-primary">Excluir</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
</body>
</html>